

mat-card {
    margin: auto;
    margin: 2em;
    background-color: #1B264F;
    color: white;
    text-align: center;
    line-height: 3vh;
    width: 43vw;
    height: 40vh;
    float: left;
}

img {
    width: 20%;
}

.viewport {
    margin: 0 !important;
    height: 100vh;
    width: 100vw;
    background: #C4BBB8;
    margin: 2em 8em 8em;
    box-shadow: 1px 1px 1px grey;
}